<form [formGroup]="inscriptionForm" class="auth" (ngSubmit)="onInscription()">
  <mat-card class="login-card">
    <mat-card-content>
      <!-- Titre -->
      <h1>Saisissez vos informations</h1>

      <!-- Champ Username -->
      <mat-form-field
        appearance="outline"
        class="full-width"
        aria-label="Champ username"
      >
        <mat-label>Username</mat-label>
        <input
          matInput
          formControlName="username"
          placeholder="username"
          aria-required="true"
        />
        <mat-error
          *ngIf="inscriptionForm.get('username')?.hasError('required')"
        >
          Username est <strong>obligatoire</strong>.
        </mat-error>
      </mat-form-field>

      <!-- Champ Email -->
      <mat-form-field
        appearance="outline"
        class="full-width"
        aria-label="Champ email"
      >
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="Ex. pat@example.com"
          aria-required="true"
        />
        <mat-hint>Les erreurs apparaissent instantanément !</mat-hint>
        <mat-error *ngIf="inscriptionForm.get('email')?.hasError('required')">
          L'email est <strong>obligatoire</strong>.
        </mat-error>
        <mat-error
          *ngIf="
            inscriptionForm.get('email')?.hasError('email') &&
            !inscriptionForm.get('email')?.hasError('required')
          "
        >
          Veuillez entrer une adresse email valide.
        </mat-error>
      </mat-form-field>

      <!-- Champ Mot de Passe -->
      <mat-form-field
        appearance="outline"
        class="full-width"
        aria-label="Champ mot de passe"
      >
        <mat-label>Mot de passe</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Entrez votre mot de passe"
          aria-required="true"
        />
        <mat-hint
          >Le mot de passe doit contenir au moins 6 caractères.</mat-hint
        >
        <mat-error
          *ngIf="inscriptionForm.get('password')?.hasError('required')"
        >
          Le mot de passe est <strong>obligatoire</strong>.
        </mat-error>
        <mat-error
          *ngIf="
            inscriptionForm.get('password')?.hasError('minlength') &&
            !inscriptionForm.get('password')?.hasError('required')
          "
        >
          Le mot de passe doit contenir au moins 6 caractères.
        </mat-error>
      </mat-form-field>

      <!-- Champ Confirmation du Mot de Passe -->
      <mat-form-field appearance="outline" class="full-width custom-input">
        <mat-label>Confirmer le mot de passe</mat-label>
        <input
          matInput
          type="password"
          formControlName="confirmPassword"
          placeholder="Confirmez votre mot de passe"
          aria-required="true"
        />
        <mat-error
          *ngIf="inscriptionForm.get('confirmPassword')?.hasError('required')"
        >
          La confirmation du mot de passe est <strong>obligatoire</strong>.
        </mat-error>
        <mat-error *ngIf="inscriptionForm.hasError('mismatch')">
          Les mots de passe ne correspondent pas.
        </mat-error>
      </mat-form-field>

      <!-- Bouton de Soumission -->
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="inscriptionForm.invalid"
        class="full-Button1"
      >
        S'inscrire
      </button>

      <!-- Bouton de retour -->
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="full-Button2"
        (click)="closeDialogAndNavigateToLogin()"
      >
        Annuler
      </button>

      <!-- Message d'erreur -->
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </mat-card-content>
  </mat-card>
</form>
