<div *ngIf="filterStudents && filterStudents.length > 0; else noStudents">
  <table>
    <thead>
      <tr>
        <th>Code</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Spécialité</th>
        <th>Date d'entrée</th>
        <th>Première mission</th>
        <th>Date de création</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of filterStudents">
        <td>{{ student.code }}</td>
        <td>{{ student.firstName }}</td>
        <td>{{ student.lastName }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.phone }}</td>
        <td>{{ student.speciality }}</td>
        <td>{{ student.entryAt | date : "dd/MM/yyyy" }}</td>
        <td>{{ student.firstDepartureMissionAt | date : "dd/MM/yyyy" }}</td>
        <td>{{ student.createdAt | date : "dd/MM/yyyy" }}</td>
        <td>
          <button (click)="deleteStudent(student)">Supprimer</button>
          <button (click)="updateStudent(student)">Modifier</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noStudents>
  <p>Aucun étudiant trouvé.</p>
</ng-template>

<button type="button" (click)="logout()">Logout</button><br />

<button type="button" (click)="toggleForm()">Créer</button><br />

<app-form *ngIf="showForm" (formSubmitted)="onFormSubmitted($event)"></app-form>

<app-form
  *ngIf="showUpdateForm"
  [student]="editingStudent"
  (formSubmitted)="onUpdateFormSubmitted($event)"
></app-form>

<form>
  <input
    type="text"
    name="query"
    [(ngModel)]="searchQuery"
    class="search-input"
    placeholder="Rechercher..."
    (input)="onSearchChange()"
  />

  <div class="radio-group">
    <label>
      <input
        type="radio"
        name="searchType"
        [(ngModel)]="searchType"
        value="code"
      />
      Par Code
    </label>
    <label>
      <input
        type="radio"
        name="searchType"
        [(ngModel)]="searchType"
        value="email"
      />
      Par Email
    </label>
  </div>

  <button type="submit" class="search-button">Rechercher</button>
</form>
