<form [formGroup]="loginForm" class="auth" (ngSubmit)="onLogin()">
  <mat-card class="login-card">
    <mat-card-content>
      <div class="logo-container">
        <img src="/logo.png" alt="Logo" width="100" height="auto" />
        <h2>Bienvenue sur Village d'emplois</h2>
      </div>

      <mat-form-field
        appearance="outline"
        class="full-width"
        aria-label="Champ email"
      >
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="Ex. pat@example.com"
          aria-required="true"
        />
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
          L'email est <strong>obligatoire</strong>.
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
          Veuillez entrer une adresse email valide.
        </mat-error>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="full-width"
        aria-label="Champ mot de passe"
      >
        <mat-label>Mot de passe</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Entrez votre mot de passe"
          aria-required="true"
        />
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          Le mot de passe est <strong>obligatoire</strong>.
        </mat-error>
        <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
          Le mot de passe doit contenir au moins 6 caractères.
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="loginForm.invalid"
        class="full-width"
      >
        Se connecter
      </button>

      <div class="inscrire">
        <button mat-button (click)="register()">S'inscrire</button>
      </div>

      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </mat-card-content>
  </mat-card>
</form>
