<nav class="container-sidebar">
  <div class="logo">
    <img src="/logo.png" alt="logo" />
    <h3>Village de l'emplois</h3>
  </div>

  <ul class="menu">
    <li>
      <a href="#"><mat-icon>home</mat-icon> Home</a>
    </li>
    <li>
      <a href="#"><mat-icon>storefront</mat-icon> Products</a>
    </li>
    <li>
      <a href="#"><mat-icon>shopping_cart</mat-icon> Orders</a>
    </li>
    <li>
      <a href="#"><mat-icon>group</mat-icon> Customers</a>
    </li>
    <li>
      <a href="#"><mat-icon>bar_chart</mat-icon> Analytics</a>
    </li>
    <li>
      <a href="#"><mat-icon>folder</mat-icon> Files</a>
    </li>
    <li>
      <a href="#"><mat-icon>lock</mat-icon> Experimental Features</a>
    </li>
  </ul>
</nav>
